 <?php
 // module/Magazyn/view/magazyn/jednostki/index.phtml:

 $title = $this->translate('Jednostki miary');
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php if(count($flashMessages)) : ?>
    <ul>
        <?php foreach ($flashMessages as $msg) : ?>
        <li><?php echo $msg; ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
 <p>
     <a href="<?php echo $this->url('jednostki', array('action'=>'add'));?>"><?php echo $this->translate('Dodaj jednostkę') ?></a>
 </p>

 <table class="table">
 <tr>
     <th>Nazwa</th>
     <th>Skrót</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($data as $item) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($item->nazwa);?></td>
     <td><?php echo $this->escapeHtml($item->skrot);?></td>
     <td>
         <a href="<?php echo $this->url('jednostki',
             array('action'=>'edit', 'id' => $item->id));?>"><?php echo $this->translate('Edytuj');?></a>
         <a href="<?php echo $this->url('jednostki',
             array('action'=>'delete', 'id' => $item->id));?>"><?php echo $this->translate('Usuń');?></a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>