 <?php
// module/Magazyn/view/magazyn/material/delete.phtml:

 $title = 'Usuń materiał';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>

 <p>Czy jesteś pewien że chcesz usunąć materiał
     '<?php echo $this->escapeHtml($data->nazwa); ?>' ?
 </p>
 <?php
 $url = $this->url('material', array(
     'action' => 'delete',
     'id'     => $this->id,
 ));
 ?>
 <form action="<?php echo $url; ?>" method="post">
 <div>
     <input type="hidden" name="id" value="<?php echo (int) $data->id; ?>" />
     <input type="submit" name="del" value="Tak" />
     <input type="submit" name="del" value="Nie" />
 </div>
 </form>