 <?php
 // module/Magazyn/view/magazyn/material/index.phtml:

 $title = $this->translate('Materiały');
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('material', array('action'=>'add'));?>"><?php echo $this->translate('Dodaj materiał') ?></a>
 </p>

 <table class="table">
 <tr>
     <th>Kod</th>
     <th>Nazwa</th>
     <th>Grupa</th>
     <th>Jednostka</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($materials as $material) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($material->kod);?></td>
     <td><?php echo $this->escapeHtml($material->nazwa);?></td>
     <td><?php echo $this->escapeHtml($material->grupa);?></td>
     <td><?php echo $this->escapeHtml($material->jednostka);?></td>
     <td>
         <a href="<?php echo $this->url('material',
             array('action'=>'edit', 'id' => $material->id));?>"><?php echo $this->translate('Edytuj');?></a>
         <a href="<?php echo $this->url('material',
             array('action'=>'delete', 'id' => $material->id));?>"><?php echo $this->translate('Usuń');?></a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>