 <?php
 // module/Magazyn/view/material/grupy/index.phtml:

 $title = $this->translate('Grupy');
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('grupy', array('action'=>'add'));?>"><?php echo $this->translate('Dodaj grupę') ?></a>
 </p>

 <table class="table">
 <tr>
     <th>Nazwa</th>
     <th>Ip</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($data as $item) : ?>
 <tr>
     <td><?php 
              for ($i = 1; $i <= substr_count($item->rodzic, '.'); $i++) echo ' . ';
              echo $this->escapeHtml($item->nazwa);
        ?></td>
     <td><?php echo $this->escapeHtml($item->rodzic);?></td>
     <td>
         <a href="<?php echo $this->url('grupy',
             array('action'=>'edit', 'id' => $item->id));?>"><?php echo $this->translate('Edytuj');?></a>
         <a href="<?php echo $this->url('grupy',
             array('action'=>'delete', 'id' => $item->id));?>"><?php echo $this->translate('Usuń');?></a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>